*{
   background-color:beige;
}
h1{
    color: brown;
}
#notepad{
    color:blueviolet;
    font-size: large;
    border-radius: 10px;
}
#save{
    background-color:orange;
    font-size: 15px;
    margin: 10px;
}
#clear{
    background-color:orange;
    font-size: 15px;
}